<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.graduation_3.mapper.CommentMapper">
    <select id="getCommentListByExchangeId" resultType="com.example.graduation_3.dto.CommentDTO">
		SELECT
			*
		FROM
			comment
		WHERE
			exchangeId = #{exchangeId}
	</select>

	<insert id="addComment">
		INSERT INTO
			comment(exchangeId,userId,content,sendDate,receiveUserId)
		VALUES
			(#{exchangeId},#{userId},#{content},#{sendDate},#{receiveUserId})
	</insert>

	<delete id="deleteComment">
		DELETE FROM
			comment
		WHERE
			id = #{id}
	</delete>
</mapper>